.menuButton {
    -fx-background-color: linear-gradient(to bottom, rgba(180, 0, 180, 0.6), rgba(65, 0, 112, 0.6));
    -fx-text-fill: #a8ffff;
    -fx-font-family: Orbitron;
    -fx-font-weight: bold;
    -fx-prompt-text-fill: #a8ffff;
    -fx-prompt-font-family: Orbitron;
    -fx-prompt-font-weight: bold;
    /*-fx-padding: 10 20;*/
    -fx-border-color:linear-gradient(to bottom, #ff00ff, #6900b9);
    -fx-alignment: center;
    -fx-border-width: 3 0 3 3;
    /*-fx-effect: dropshadow(gaussian, rgba(255, 0, 255, 0.75), 10, 0.5, 0, 0);*/
    -fx-effect: dropshadow(three-pass-box, rgba(71, 0, 255, 0.75), 10, 0.2, 0, 0);
    /*-fx-effect: dropshadow(gaussian, rgba(255, 0, 255, 0.56), 10, 0.5, 0, 0); !* Neon glow effect *!*/
}

.menuButton:hover {
    -fx-text-fill: #a8ffff;
    -fx-font-family: Orbitron;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(to bottom,#FF00FFFF, #4b0082);
    -fx-effect: dropshadow(gaussian, rgba(255, 102, 255, 1), 15, 0.7, 0, 0);
    -fx-cursor: hand;
}

.profileLabel {
    -fx-background-color: linear-gradient(to bottom, rgba(180, 90, 0, 0.5), rgba(124, 48, 0, 0.5));
    -fx-text-fill: #a8ffff;
    -fx-font-family: Orbitron;
    -fx-font-weight: bold;
    /*-fx-padding: 10 20;*/
    -fx-border-color:linear-gradient(to bottom, #ff4c00, #b92b00);
    -fx-alignment: center;
    -fx-border-width: 3;
    /*-fx-effect: dropshadow(gaussian, rgba(255, 0, 255, 0.75), 10, 0.5, 0, 0);*/
    -fx-effect: dropshadow(gaussian, rgba(255, 77, 0, 0.75), 10, 0.2, 0, 0);
    /*-fx-effect: dropshadow(gaussian, rgba(255, 0, 255, 0.56), 10, 0.5, 0, 0); !* Neon glow effect *!*/
}
.profileLabel:hover{
    /*-fx-background-coloror: linear-gradient(to bottom, #ff0000, #820000);*/
    -fx-effect: dropshadow(gaussian, rgba(180, 63, 0, 0.5), 15, 0.7, 0, 0);
    -fx-cursor: hand;
}

.backBut {
    -fx-background-color: linear-gradient(to bottom, rgba(180, 0, 0, 0.5), rgba(124, 0, 0, 0.5));
    -fx-text-fill: #a8ffff;
    -fx-font-family: Orbitron;
    -fx-font-weight: bold;
    /*-fx-padding: 10 20;*/
    -fx-border-color:linear-gradient(to bottom, #ff0000, #b90000);
    -fx-alignment: center;
    -fx-border-width: 3;
    /*-fx-effect: dropshadow(gaussian, rgba(255, 0, 255, 0.75), 10, 0.5, 0, 0);*/
    -fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 0.75), 10, 0.2, 0, 0);
    /*-fx-effect: dropshadow(gaussian, rgba(255, 0, 255, 0.56), 10, 0.5, 0, 0); !* Neon glow effect *!*/
}
.backBut:hover{
    -fx-background-color: linear-gradient(to bottom, #ff0000, #820000);
    -fx-effect: dropshadow(gaussian, rgb(255, 102, 102), 15, 0.7, 0, 0);
    -fx-cursor: hand;
}

.upgrade {
    -fx-background-color: linear-gradient(to bottom, rgba(205, 255, 0, 0.5), rgba(255, 203, 0, 0.5));
    -fx-text-fill: #a8ffff;
    -fx-font-family: Orbitron;
    -fx-font-weight: bold;
    /*-fx-padding: 10 20;*/
    -fx-border-color:linear-gradient(to bottom, #fff651, #b1fd54);
    -fx-alignment: center;
    -fx-border-width: 3;
    /*-fx-effect: dropshadow(gaussian, rgba(255, 0, 255, 0.75), 10, 0.5, 0, 0);*/
    /*-fx-effect: dropshadow(gaussian, rgba(255, 0, 255, 0.56), 10, 0.5, 0, 0); !* Neon glow effect *!*/
}
.upgrade:hover{
    -fx-background-color: linear-gradient(to bottom, #8cff3f, #24d300);
    -fx-cursor: hand;
}
