.table-view {
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, repeat, rgba(85, 0, 255, 0.5), rgba(126, 0, 124, 0.5));
    /*-fx-padding: 10 20;*/
    /*-fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, reflect, #00eaff 0.0%, #e000ff 100.0%);*/
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 10, 0.2, 0, 0);
    -fx-alignment: center;
    -fx-border-width: 2;
    -fx-prompt-text-fill: #a8ffff;
    -fx-prompt-font-weight: bold;
    -fx-text-fill: #a8ffff;
    -fx-font-width: bold;
}



.table-view .column-header-background,
.table-view .column-header,
.table-view .filler {
    -fx-pref-height: 40;
    -fx-background-color: #0b0028;
    -fx-border-width: 0 1 0 1;
    -fx-border-color: rgba(200, 0, 255, 0.88);
}

.table-view .column-header .label{
    -fx-pref-height: 40;
    -fx-font-size: 13;
    -fx-text-fill: #a8ffff;
    -fx-font-width: bold;
    -fx-prompt-text-fill: #a8ffff;
    -fx-prompt-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 10, 0, 0, 0);
}



/* Style for the table rows */
.table-row-cell {
    -fx-background-color: transparent;
    /*-fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, repeat, rgba(85, 0, 255, 0.5), rgba(126, 0, 124, 0.5));*/
    -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, reflect, #00eaff 0.0%, #e000ff 100.0%);
    -fx-alignment: center;
    -fx-border-width: 2 0 0 0;
    -fx-prompt-text-fill: #a8ffff;
    -fx-prompt-font-weight: bold;
}

/*.table-row-cell:odd {*/
/*    -fx-background-color: #f9f9f9;*/
/*}*/

/*.table-row-cell:selected {*/
/*    -fx-background-color: #00a2e8;*/
/*    -fx-text-fill: #ffffff;*/
/*}*/

/*.table-row-cell:focused {*/
/*    -fx-background-color: #e0e0e0;*/
/*}*/

/* Style for the table cells */

.table-cell {
    -fx-alignment: center;
    -fx-text-fill: #a8ffff;
    -fx-font-size: 12;
    -fx-font-width: bold;
    -fx-prompt-text-fill: #a8ffff;
    -fx-prompt-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 10, 0, 0, 0);
    -fx-border-width: 0;
}

/*.table-cell:selected {
    -fx-background-color: #00a2e8;
    -fx-text-fill: #ffffff;
}*/



.table-view .increment-button, .decrement-button{
    -fx-background-color: #0b0028;
    -fx-background-insets: 2;


}
.table-view .scroll-bar{
    -fx-background-insets: 1;
    -fx-background-color: #0b0028;
}


.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{

    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-insets: 5;

    -fx-background-color: #660093;
    -fx-background-radius: 5em;
}
.table-view .scroll-bar:vertical .corner{
    -fx-background-color: transparent;
}
.table-view .scroll-bar:horizontal .corner{
    -fx-background-color: transparent;
}
.table-view .scroll-pane > .corner {
    -fx-background-color: transparent;
}
